
<h1 id='whats'>What's on in {{data.businesses.0.location.city}}! </h1>

  {{#each data.businesses}}

  <div class='yelp-output'>
    <div class='yelp-item'>
      <div class='yelp-box'>
        <img class="yelp-thumbnail" src="{{this.image_url}}">
        <h2 class="business-name">{{ this.name }}</h2>


        <form class="going" id="going" action="/process" method="POST">
          
          <input type="hidden" class="yelpId" name='yelpId' value="{{this.id}}">
          <input type="hidden" name='location' value='{{this.location.city}}'>
          <input class="decision" id="decision" type="submit" onclick="submitForms()" name='userAttendingVenue' value="Not Going" />

        </form>

        <div class="info">
          <p class="business-description">{{this.snippet_text }}</p>
          <p class="business-address">{{this.location.display_address}}</p>
        </div>
      </div>
    </div>
  </div>
  <hr />

{{/each}}
{{#each going}}
<form class="attending" id="attending">
  <input id="name" type="hidden" name='name' value="{{this.name}}">
  <input id="attendence" type="hidden" name='attendence' value="{{this.going}}">
</form>
{{/each}}
<input type="hidden" class="ref_path" name='ref_path' value="{{ref_path}}">